.workpage{
    width: 90%;
    height: 180vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20vh;
}
.workpage h1{
    text-align: center;
}
#slide{
    width: 100%;
    min-height: 30vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5vh;
    padding: 2vh;
}
.slide{
    background-color: #278C7A;
    color: #e6e6e6;
    animation: slide 0.5s 0s;
    animation-timeline: view();
    animation-range: entry cover 50%;
}
#slide .slideimg{
    width: 30%;
    height: auto;
}
#slide .slideimg img{
    width: 50%;
    height: auto;
}
#slide .slidedescription{
    width: 70%;
}

@keyframes slide {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(-50%);
    }
}

.slide2{
    background-color: #919191;
    color: #171717;
    animation: slide2 0.5s 0s;
    animation-timeline: view();
    animation-range: entry cover 50%;
}
@keyframes slide2 {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-50%);
    }
    
}
.slide3{
    background-color: #cdcdcd;
    color: #171717;
    animation: slide3 0.5s 0s;
    animation-timeline: view();
    animation-range: entry cover 50%;
}

@keyframes slide3 {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(-50%);
    }
    
}

.slide4{
    background-color: #dedede;
    color: #171717;
    animation: slide4 0.5s 0s;
    animation-timeline: view();
    animation-range: entry cover 50%;
}


@keyframes slide4 {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-50%);
    }
    
}



@media screen and (max-width: 768px) {
    /* Styles for small screens */
    #slide .slideimg img{
        width: 100%;
        height: auto;
    }
  }