.mainpage{
    width: 90%;
    height: 100vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mainpage .img{
    width: 70%;
    height: 100vh;
}
.mainpage .img img{
    width: 100%;
    height: auto;
    margin-top: 20vh;
}
.mainpage .maindescription{
    width: 70%;
}
.mainpage .maindescription button{
    padding: 3vh 4vh 3vh 4vh;
    border: #278C7A solid 0.3vh;
    border-radius: 5vh;
    color: #e6e6e6;
    font-weight: bold;
    cursor: pointer;
    background-color: #278C7A;
    margin-top: 3vh;
    transition: 0.3s;
}
.mainpage .maindescription button:hover{
    box-shadow: 0 0 1vh #278C7A;
    transform: translateY(-8px);
}




@media screen and (max-width: 768px) {
    /* Styles for small screens */
    .mainpage{
        display: block;
    }
    .mainpage .maindescription{
        width: 100%;
        position: relative;
        top: 10vh;
    }
    .mainpage .img{
        width: 60%;
        height: 100vh;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
  }

